h1 {
    font-size: var(--fluid-4);
    margin-bottom: 0.5em;
}

h2 {
    font-size: var(--fluid-3);
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: var(--fluid-2);
    margin-bottom: 1rem;
}

h1.home-title,
h1.page-title {
    margin-top: 0;
}
