/* backlinks */
.backlinks-title {
    margin: 1rem auto;
    font-size: var(--fluid-1);
    // border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
    text-decoration: underline 0.15rem rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease-in-out;
    &:hover {
        text-decoration: underline 0.15rem rgba(0, 0, 0, 1);
    }
}

.backlink__link {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.05);
    padding: 0.2rem 1rem;
    border-radius: 0.2rem;
    transition: all 0.3s ease-in-out;
    &:hover {
        background: rgba(0, 0, 0, 0.1);
    }
}

ul.backlinks-container {
    display: flex;
    flex-direction: column;
}

.backlinks-default {
    margin-top: 1rem;
    margin-left: 16px;
    color: var(--textColor);
}

.backlink__preview {
    display: none;
    position: absolute;
    bottom: -1rem;
    left: calc(100% + 0.1rem);
    background-color: var(--backgroundColor);
    border-radius: 0.2rem;
    padding: 0rem 1rem;
    box-shadow: 0.1rem 0.5rem 0.7rem rgba(0, 0, 0, 0.5);
    width: clamp(348px, 650px, 80rem); /* 348 */
    overflow: hidden;
    // max-height: 348px;
    outline: 0.2rem solid black;
}
.backlink__preview::after {
    content: '';
    position: absolute;
    bottom: 0;
    background: linear-gradient(transparent, var(--backgroundColor));
    width: 100%;
    height: 24px;
}

.backlink__preview h1 {
    margin: 0 0 1rem 0;
    font-size: var(--fluid-2);
}
.backlink__preview h2 {
    margin-top: 1rem;
    font-size: var(--fluid-1);
}
.backlink__preview h3 {
    font-size: var(--fluid-0);
}
.backlink__preview p {
    font-size: var(--fluid-0);
}

.backlink {
    font-size: var(--fluid-0);
    width: fit-content;
    position: relative;
}

.backlink:hover {
    padding-right: 0.5rem; /* Allow mouse to travel between link and modal / 4px */
}

.backlink:hover .backlink__preview {
    display: block;
}
