<div id="nav-search" class="nav-search">
  <form>
    <input id="nav-search__input" class="nav-search__input" type="search" onfocusin="inFocus(this)"
      placeholder='search notes (type "/" to focus &#38; "ESC" to lose)'
      aria-label='search notes (type "/" to focus &#38; "ESC" to lose)'>
  </form>
  <div id="nav-search__result-container" style="display: none;">
    <ul id="nav-search__ul"></ul>
    <div id="nav-search__no-result" style="display: none;">
      <p>No results found.</p>
    </div>
  </div>
</div>