<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'test-head.html' %}
</head>

<body id="test-body">
  <div class="test-container">
    <header class="page-header">
      {% include 'test-header.html' %}
      {% include 'test-navigation.html' %}
    </header>

    <div id="test-main">
      {{content}}
    </div>

    <footer class="page-footer">
      <!-- {% include 'test-footer.html' %} -->
      <!-- {% include 'test-colorThemeToggle.html' %} -->
    </footer>

    <script src="/assets/js/script.js"></script>
    <script src="/assets/js/prism.js"></script>
  </div>
</body>

</html>