<!DOCTYPE html>
<html lang="{{ metadata.lang }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ metadata.title }}</title>
    <link
      rel="preload"
      href="/assets/fonts/dm-sans/dm-sans-v11-latin-regular-subset.woff2"
      as="font"
      type="font/woff2"
      crossorigin=""
    />
    {% include "meta.njk" %}
    <script>
      /* Font loading: Critical FOFT with preload, see:
   https://www.zachleat.com/web/comprehensive-webfonts/#critical-foft-with-preload */
      ;(function () {
        if ("fonts" in document) {
          // Optimization for Repeat Views
          if (sessionStorage.fontsLoadedCriticalFoftPreload) {
            document.documentElement.className += " fonts-loaded-2"
            return
          }
          document.fonts.load("1em 'DM Sans Subset'").then(function () {
            document.documentElement.className += " fonts-loaded-1"
            Promise.all([
              document.fonts.load("400 1em 'DM Sans'"),
              document.fonts.load("700 1em 'DM Sans'"),
              document.fonts.load("italic 1em 'DM Sans'"),
              document.fonts.load("italic 700 1em 'DM Sans'"),
            ]).then(function () {
              document.documentElement.className += " fonts-loaded-2"
              // Optimization for Repeat Views
              sessionStorage.fontsLoadedCriticalFoftPreload = true
            })
          })
        }
      })()
    </script>
    <link rel="stylesheet" href="{{ '/assets/css/main.scss' | url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/test.scss' | url }}" />
  </head>
  <body id="home-body">
    <div id="home-container">
      <header id="home-header">
      <a href="{{ '/' | url }}">
        <img
          src="{{'/assets/images/favicon/android-chrome-192x192.png' | url}}"
          alt="author avatar"
          width="48px"
          height="48px"
          id="home-avatar"
        />
        </a>
        <nav id="home-nav">
          <ul id="home-ul">
            <li class="home-li">
              <a class="home-a" href="{{ '/about' | url }}">About</a>
            </li>
            <li class="home-li">
              <a class="home-a" href="{{ '/posts' | url }}">Blog</a>
            </li>
            <li class="home-li">
              <a class="home-a" href="{{ '/journal' | url }}">Journal</a>
            </li>
          </ul>
        </nav>
      </header>
      <main id="" class="">
      <h1 id="home-title">{{ title }}</h1>
      {{ content | safe }}
      </main>

      <footer id=""></footer>

      <script type="module" src="{{ '/assets/js/main.js' | url }}"></script>
    </div>
  </body>
</html>
