/* 
This is the place for custom CSS.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  padding-left: 0.2rem;
  // &::before {
  //   content: '# ';
  //   color: rgba(0, 0, 0, 0.25);
  //   font-size: 0.75em;
  // }
}

.notelist-link {
  text-decoration: none;
  font-size: var(--fluid-0);
}
.notelist-item {
  width: 45%;
  display: inline-flex;
  flex-direction: row;
}
.notelist-item-active {
  background: paleturquoise;
}
.notes-list {
  line-height: 1.75;
}
