/* -----------------------------------------------------------------------------
  This is the place for custom CSS.
  ----------------------------------------------------------------------------- 
*/

ul.nav__menu {
  display: flex;
  gap: 1rem;
}

div.site-header__left p {
  font-size: var(--fluid-1);
}

@media screen and (max-width: 48rem) {
  div.site-header__container {
    flex-direction: column;
  }
}

h1.home-title,
h1.page-title {
  margin-top: 0;
}

section.list {
  margin-top: 1.5rem;
}

pre,
code {
  background-color: rgba(0, 0, 0, 0.1);
}

code {
  padding: 0.1rem 0.3rem;
  border-radius: 0.2rem;
  font-weight: 600;
}

pre {
  box-shadow: 0.1rem 0.5rem 0.7rem rgba(0, 0, 0, 1) inset;
  border-radius: 0.2em;
  padding: 1em;
  overflow: auto;
  margin: 2em auto;
}

pre code {
  background-color: transparent;
  // font-size: var(--step--1);
}

table {
  /* width: 100%; */
  margin: 3rem auto;
  border-collapse: collapse;
  box-shadow: 0.1rem 0.5rem 0.7rem rgba(0, 0, 0, 0.5);
}

th,
td {
  border: 0.1rem solid #464646;
  padding: 1px 10px;
}

table thead th,
table tfoot th {
  background: rgba(0, 0, 0, 0.1);
}